.home {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  text-align: center;
  margin: 10px 0px 10px 100px;
}

.home {
  position: center;
}

.navbar {
  height: 8vh;
  width: 100%;
  background-color: rgb(138, 187, 255);
  position: fixed;
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
  float: left;
  padding: 10px;
  font-size:x-large;
}
li a:hover {
  color:#eee021;
  background-color:#2377de;
  border-radius: 30px;
  transition:  all 0.7s ease-in;
}
button {
  width: 5vw;
  height: 2vh;
}

.main-image {
  object-fit: cover;
  height: 40vh;
  width: 26vw;
  /* max-height: 90%;
  max-width: 90%; */
  border-radius: 5%;
}
.main-image:hover {
  display: absolute;
  box-shadow: 2px 2px 5px 5px black;
  height: 42vh;
  width: 28vw;
}

a {
  text-decoration: none;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.ride-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  font-size: 30px;

  color: white;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}

.edit-button {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
button {
  height: 30px;
  width: 38px;
  background-color: white;
  border: none;
  color: rgb(25, 25, 86);
}
button:hover {
  height: 30px;
  width: 38px;
  background-color: rgb(25, 25, 86);
  color: white;
}
.ride-form-container {
  background-color: rgb(138, 187, 255);
}
.ride-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 5px;
}

.reviewImg {
  width: 90vw;
  height: 50vh;
  margin-top: 2vh;
}

.reviewTitle {

}

.reviewPageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.riderDetailsContainer {
  
}

.descriptionContainer {

}

.rideReviewsContainer {

}
