.home {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  text-align: center;
  margin: 10px 0px 10px 100px;
}

.home-container {
  margin: 15vh 0 0 0;
}

.navbar {
  background-image: url('https://t4.ftcdn.net/jpg/03/35/87/53/360_F_335875354_DhqgQGzYbcGQzRltTIulubcwNqsi6RZ9.jpg');
  background-position-y: 30vh;
  height: 13vh;
  width: 100%;
  position: absolute;
  background-color: rgb(138, 187, 255);
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  z-index: 5;
}
.navbar--scrolled {
  background-color: grey;
}
.navlinks {
  font-family: 'Josefin Sans', sans-serif;
  text-shadow: 3px 3px 8px black;
  font-size: 35px;
}

li {
  list-style-type: none;
  float: left;
  padding: 10px;
  font-size: x-large;
}

li a:hover {
  border-radius: 10px;
  text-shadow: 1.5px 1.5px 8px;
}

.home {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  text-align: center;
  margin: 0px 0px 10px 100px;
}

.containerForImageandText {
  position: relative;
  text-align: center;
}

.ride-title {
  position: absolute;
  top: 25%;
  left: 50%;
  font-size: 30px;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
  /* background-color: rgb(0, 0, 255, .4); */
}

.main-image {
  object-fit: cover;
  height: 40vh;
  width: 26vw;
  border-radius: 5%;

  /* max-height: 90%;
  max-width: 90%; */
}

.main-image:hover {
  display: absolute;
  box-shadow: 2px 2px 5px 5px black;
  height: 42vh;
  width: 28vw;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-size: 80px;
}

.add-ride {
  border: 2px solid black;
  height: 30px;
  width: 100px;
}
.add-ride:hover {
  height: 30px;
  width: 100px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ride-title {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 35px;

  text-shadow: 3px 3px 8px black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 40px;
}
.edit-form-container {
  font-family: 'Josefin Sans', sans-serif;
  display: flex;
  justify-content: center;
  margin: 20vh 0 0 0;
}
.edit-form {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.edit-button {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

button {
  font-family: 'Josefin Sans', sans-serif;
  height: 30px;
  width: 38px;
  background-color: white;
  border: none;
  color: rgb(25, 25, 86);
}

button:hover {
  height: 30px;
  width: 38px;
  background-color: rgb(25, 25, 86);
  color: white;
  transition: all 0.2s ease-in;
}
.submit-button {
  margin: 7px 0 0 0;
  height: 30px;
  width: 80px;
}
.submit-button:hover {
  height: 30px;
  width: 80px;
  background-color: rgb(25, 25, 86);
  color: white;
  transition: all 0.2s ease-in;
}
.ride-form-container {
  background-image: url('https://t4.ftcdn.net/jpg/03/35/87/53/360_F_335875354_DhqgQGzYbcGQzRltTIulubcwNqsi6RZ9.jpg');
}
.ride-form {
  font-family: 'Josefin Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 5px;
}

.buttoncontainer {
  display: flex;
  margin-top: 8px;
}

.reviewImg {
  margin: 2vh;
  width: 40vw;
  height: 40vh;
  margin-top: 2vh;
  object-fit: fit;
  box-shadow: 2px 2px 5px 5px black;
  float: left;
}

.reviewTitle {
}

.reviewPageContainer {
  margin: 15vh 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.riderDetailsContainer {
  border: 3px solid black;
}

/* .descriptionContainer {
  border: 3px solid black;
} */

.descriptionContainer h3,
h4 {
  margin-left: 20%;
}
.about {
  padding-top: 8vh;
}
.about h2 {
  padding-left: 5vw;
}
.about h4,
big {
  float: left;
  width: 50%;
  padding-left: 5vw;
}
.about-img {
  height: 40vh;
  width: 40vw;
  border-radius: 5%;
  float: right;
  margin-top: 5vh;
  margin-right: 5vw;
}
footer {
  background-image: url('https://t4.ftcdn.net/jpg/03/35/87/53/360_F_335875354_DhqgQGzYbcGQzRltTIulubcwNqsi6RZ9.jpg');
  position: fixed;
  background-color: rgb(138, 187, 255);
  bottom: 0;
  width: 100%;
  height: 10vh;
}

footer img {
  margin-top: 1.4vh;
  height: 7vh;
  width: 7vw;
}
h3 {
  position: flex;
  align-items: center;
}
